[MESSAGES]

disable = all

enable = E,
  trailing-whitespace,
  trailing-newlines,
  reimported,
  notimplemented-raised,
  no-member,
  duplicate-key,
  unreachable,
  unneeded-not,
  deprecated-module,
  wildcard-import,
  undefined-variable,
  no-name-in-module
