[MESSAGES]

disable = all

enable = E,
  deprecated-module,
  duplicate-key,
  no-member,
  no-name-in-module,
  notimplemented-raised,
  reimported,
  trailing-newlines,
  trailing-whitespace,
  undefined-variable,
  unneeded-not,
  unreachable,
  unused-import,
  unused-variable,
  wildcard-import
